<% provide(:title, "PAX Prime 2011") %>
<% provide(:meta_description, "Photos from PAX Prime 2011") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>PAX Prime 2011</h1>

<p>PAX Prime 2011 took place in Seattle, Washington on 26&ndash;28 August, 2011.</p>