<% provide(:title, "Applecon") %>
<% provide(:meta_description, "Photos from Applecon 2009.") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>Applecon</h1>

<p>Applecon took place in Appleton, Wisconsin on 2&ndash;4 January, 2009.</p>