<% img_path = "computers/old/#{computer["name"].parameterize}" %>

<% 
begin
  uri = URI("#{PortfolioImage::ROOT_PATH}#{img_path}.png")
  request = Net::HTTP.new(uri.host)
  response = request.request_head(uri.path)
  img = response.code.to_i == 200 ? "#{img_path}.png" : "#{img_path}.jpg"
rescue SocketError
  img = "#"
end
%>

<div class="card computer-summary" id="<%= anchorize(computer["name"]) %>">
  <div class="card-body">
    <% if computer["no_image"] %>
      <%= render partial: "computer_summary_details", locals: {computer: computer} %>
    <% else %>
      <div class="row">
        <div class="col-12 col-md-8">
          <%= render partial: "computer_summary_details", locals: {computer: computer} %>
        </div>
        <div class="col-12 col-md-4">
          <%= project_image(img, attribution: computer["attribution"]) %>
        </div>
      </div>
    <% end %>
  </div>
</div>