<div class="col-sm-<%= 12/button_iteration.size %>">
	<%= link_to((button.icon ? image_tag(button.icon, class: "icon-button") : "".html_safe) + button.text.html_safe, button.path, class: "btn btn-default btn-block icon-button", role: "button") %>
</div>