<%= link_header("License", 2) %>

<p>Paul Bogard created this map, and has made it available for use under a <%= link_to("CC BY-SA 4.0 License", 'https://creativecommons.org/licenses/by-sa/4.0/', rel: "license", target: :_blank) %>.</p>