<% provide(:title, "Airport Code Puns") %>
<% provide(:meta_description, "Airports using their codes in other words") %>

<h1>Airport Code Puns</h1>

<h2>DAY <small>Dayton</small></h2>

<div class="row">
  <%= render partial: "pun_image", locals: {image: "DAY-1", caption: "It’s a great <code>DAY</code> to recycle!"} %>
</div>

<h2>STL <small>St Louis</small></h2>

<div class="row">
  <%= render partial: "pun_image", locals: {image: "STL-1", caption: "Every day we’re hu<code>STL</code>ing for you"} %>
</div>