<% provide(:title, "Airport Code Puns") %>
<% provide(:meta_description, "Airports using their codes in other words") %>

<h1>Airport Code Puns</h1>

<% @puns.each do |code, city, puns| %>
  <%= link_header(code, 2, city) %>
  <div class="row">
    <% puns.each do |pun, credit| %>
      <div class="col-lg-6 airport-code-pun">
        <figure class="figure">
          <%= image_tag("#{PortfolioImage::ROOT_PATH}airport-code-puns/#{code.downcase}-#{anchorize(sanitize(pun, tags: []))}.jpg", alt: sanitize(pun, tags: []), class: "img-responsive generic-photo-tile") %>
          <% if credit %><figcaption class="attribution">Photo provided by <%= credit %></figcaption><% end %>
          <figcaption><%= pun.html_safe %></figcaption>
        </figure>
      </div>
    <% end %>
  </div>
<% end %>