<% provide(:title, "Books")%>
<% provide(:meta_description, "Paul Bogard’s books read by year.")%>

<h1>Books</h1>

<%= project_image("books/books-by-year-2018.png", alt: "Paul’s Books Read By Year")%>