<% provide(:title, "#{@parts.computer_name} - Computer History")%>
<% provide(:meta_description, "Paul Bogard’s history of parts in his computer #{@parts.computer_name}.") %>

<h1>Computer History &ndash; <%= @parts.computer_name %></h1>

<p class="computer-history-model"><%= @parts.computer_model %> &middot; <%= @parts.computer_form_factor %></p>

<div class="center">
  <%= @parts.svg_xml %>
</div>

