<% provide(:title, "#{@parts.computer_name} - Computer History")%>
<% provide(:meta_description, "Paul Bogard’s history of parts in his computer #{@parts.computer_name}.") %>

<h1>Computer History &ndash; <%= @parts.computer_name %></h1>

<div class="center">
  <%= @parts.svg_xml %>
</div>

