<% provide(:title, "Computer History")%>
<% provide(:meta_description, "Paul Bogard’s history of old computers and devices.") %>

<h1>Computer History</h1>

<p>[chart of laptops and desktops]</p>

<ul>
  <% @computers.each do |k, computer| %>
    <li><%= link_to(computer[:name], computer_history_details_path(computer: k.dasherize)) %>
  <% end %>
</ul>

<%= link_header("Devices", 2) %>

<ul>
  <% @part_types.each do |k, part_type| %>
    <li><%= link_to(part_type[:name], part_history_details_path(part: k.dasherize)) %>
  <% end %>
</ul>
