<% provide(:title, "Fast Track Calculus")%>
<% provide(:meta_description, "Paul’s Fast Track Calculus course at RHIT") %>

<h1>Fast Track Calculus</h1>

<p>In 2002, I attended Fast Track Calculus, a program offered by <%= link_to "Rose-Hulman Institute of Technology", 'http://www.rose-hulman.edu' %> to allow incoming students to complete a year’s worth of calculus in five weeks on campus the summer before freshman year.</p>

<p>A typical weekday was spent by turning in the prior day’s homework assignment to our FTC counselors (FTC students from prior years). While the counselors graded our assignments, we’d spend the morning in a calculus lecture. New homework was assigned due the next morning.</p>

<p>After lunch, the counselors would return our graded homework, and we’d do an hour review of what the correct solutions were. Once that was done, we had the remainder of the day to work on our current day’s homework, which usually took until at least midnight to finish. The counselors were available to act as tutors.</p>

<%= project_image('rhit/FTC Homework.jpg', alt: "Photo of a 3-inch binder filled with homework assignments", caption: "Five weeks worth of FTC homework filled a 3-inch binder. Our most notorious homework problem was #{link_to "Fred and Harry", fred_and_harry_path}.") %>

<p>Every Friday morning, we’d have an exam of the week’s content and an abbreviated lecture. In addition to the usual homework assignment, we were given a group project, both of which were due Monday morning. We were prohibited from doing any work on Friday evening (to maintain our sanity, presumably).</p>

<p>It was a very intensive course, but well worthwhile. Getting three quarters worth of calculus classes out of the way in the time of half a quarter meant we could start differential equations classes fall quarter of freshman year, and gave us much more flexibility in our schedules for our four years. Additionally, after such an intensive course of study made all of the rest of our engineering classes seem easy by comparison.</p>