<% provide(:meta_description, "Paul Bogard’s portfolio of programming, engineering, mapping, and other projects.")%>

<%= render partial: 'link_buttons', locals: {buttons: [
  {text: "Paul’s <strong>Résumé</strong>", icon: 'resume', path: resume_path},
  {text: "Paul’s <strong>GitHub</strong> repositories", icon: 'github', path: 'https://github.com/bogardpd'}
]} %>

<div class="row project-row">
	<%= @covers.map{|cover| render partial: 'project_cover', locals: {name: cover[:name], caption: cover[:caption]}}.join.html_safe %>
</div>