<% provide(:meta_description, "Paul Bogard’s portfolio of programming, engineering, mapping, and other projects.")%>

<%= link_buttons(
  LinkButton.new("Paul’s <strong>Résumé</strong>", 'resume', resume_path),
  LinkButton.new("Paul’s <strong>GitHub</strong> repositories", 'github', 'https://github.com/bogardpd/')
  ) %>

<div class="row project-row">
	<%= Project::LIST.map{|cover| render partial: 'project_cover', locals: cover}.join.html_safe %>
</div>