<% provide(:meta_description, "Paul Bogard’s portfolio of programming, engineering, mapping, and other projects.")%>

<%= link_buttons(
  LinkButton.new("Paul’s <strong>Résumé</strong>", "resume", resume_path),
  LinkButton.new("Paul’s <strong>GitHub</strong> repositories", "github", "https://github.com/bogardpd/", target: :_blank)
  ) %>

<div class="row cover-row">
	<%= Project::LIST.map{|cover| render partial: "project_tile", locals: cover}.join.html_safe %>
</div>