<% provide(:title, "Ingress Murals")%>
<% provide(:meta_description, "Maps of the routes for Ingress mural missions Paul Bogard has completed.")%>

<h1>Ingress Murals</h1>

<p>I play the geocaching game <%= link_to("Ingress", 'https://www.ingress.com/') %>. The game has some missions available which involve walking around to collect pieces of an image to form a mural. For some of these, I’ve plotted my location data on a map to show the route I walked to complete the missions.</p>

<h2>Dayton</h2>
<%= project_image("ingress-murals/Dayton.png", "Dayton") %>

<h2>Tulsa Skyline</h2>
<%= project_image("ingress-murals/Tulsa Skyline.png", "Tulsa Skyline") %>