<% provide(:title, "Interstate Grid")%>
<% provide(:meta_description, "Paul Bogard’s illustration of the intersections of major US Interstates.")%>

<h1>Interstate Grid</h1>

<%= project_image("projects/maps/interstate-grid/Interstate Grid.png", alt: "Illustration of the intersections of cross-country US interstates", type: :large, caption: "#{link_to("png","#{PortfolioImage::ROOT_PATH}projects/maps/interstate-grid/Interstate Grid.png")} &middot; #{link_to("svg","#{PortfolioImage::ROOT_PATH}projects/maps/interstate-grid/Interstate Grid.svg")}") %>

<p>On the US Interstate Highway System’s numbering plan, one- and two-digit interstates ending in an even number generally travel east/west, and those ending in an odd number generally travel north/south. The interstate numbers are lowest in the south and west, and get larger as they go north and east. Additionally, interstates ending in 0 or 5 are major cross-country routes.</p>

<p>Thus, if interstates followed the numbering system perfectly, the divisible-by-5 interstates should form a grid, from I-5 in the west to I-95 in the east, and I-10 in the south to I-90 in the north. I wanted to draw this grid to show where the major highways intersected.</p>

<p>However, a few of the divisible-by-5 interstates don’t quite conform to a grid. I-50 and I-60 don’t exist (since they would run through the same states containing US-50 and US-60, which could be confusing). I-85 crosses I-75 and ends up running west to I-65. I-30 and I-45 are both rather short interstates rather than the cross-country routes their numbers would indicate. And there are many instances where “parallel” interstates intersect.</p>

<p>Thus, the map got a bit more complicated than a simple grid. Inspired by <%= link_to("Cameron Booth’s <em>Interstate Highways as a Subway Map</em>".html_safe, "https://www.cambooth.net/interstates-as-subway-diagram-2011-version/interstate_subway-large/", target: :blank) %>, I decided to use subway map language for my own project, while still keeping mine as close to an evenly-spaced grid as possible rather than a spatially-proportionate map. I also made the design decision to keep the intersections as metro areas rather than specific cities and suburbs for simplicity.</p>

<h2>Tools</h2>

<table class="table tools-list">
	<tbody>
		<tr>
			<th scope="row">Vector Graphics Editor</th>
			<td><ul><li><%= link_to("Inkscape", "https://inkscape.org", target: :_blank) %></li></ul></td>
		</tr>
	</tbody>
</table>

<%= render "static_pages/map_license" %>

