<% provide(:title, "#{@part_type[:name].singularize} History")%>
<% provide(:meta_description, "Paul Bogard’s device history of #{@part_type[:name].downcase}.") %>

<h1>Device History &ndash; <%= @part_type[:name] %></h1>

