<% provide(:title, "PAX Attendance and Photos") %>
<% provide(:meta_description, "Paul’s attendance at PAX events") %>
<% provide(:theme, "pax-west") %>

<h1>PAX Attendance and Photos</h1>

<p class="center">I’ve attended <%= link_to "Penny Arcade Expo", "http://www.paxsite.com/", target: :_blank %> several times. Select a badge to see a photo gallery!</p>

<div class="row cover-row justify-content-center">
<%= render partial: "static_pages/galleries/pax_tile", collection: @paxen, as: :pax %>

</div>