<% provide(:title, "PAX Attendance") %>
<% provide(:meta_description, "Paul’s attendance at PAX events") %>
<% provide(:theme, "pax-west") %>

<h1>PAX Attendance</h1>

<p>I’ve attended <%= link_to "Penny Arcade Expo", "http://www.paxsite.com/", target: :_blank %> several times.</p>

<div class="row cover-row">
<% @paxen.each do |k, pax_data| %> 
  <%= render partial: "static_pages/galleries/pax_tile", locals: pax_data %>
<% end %>
</div>