<%
  if (@tag)
    provide(:title, "#{@tag[:adjective]} Projects")
    provide(:meta_description, "Paul Bogard’s #{@tag[:description]}.")
  else
    provide(:meta_description, "Paul Bogard’s portfolio of programming, engineering, mapping, and other projects.")
  end
%>

<h2>Paul Bogard’s Portfolio has been moved to <a href="https://paulbogard.net/">paulbogard.net</a>.</h2>

<p>For a while, I’ve run this portfolio and a separate blog. Over the years, they started to overlap enough that a lot of content was duplicated. I’ve now merged the two into a single site, hosted at <a href="https://paulbogard.net/">paulbogard.net</a>.</p>

<h3>Quick Links</h3>

<ul>
  <li><a href="https://paulbogard.net/projects/">Projects</a></li>
  <li><a href="https://paulbogard.net/">About</a></li>
  <li><a href="https://paulbogard.net/blog/">Blog</a></li>
</ul>