<% provide(:title, "Résumé")%>
<% provide(:meta_description, "Paul Bogard’s Résumé. Paul is an accomplished Training Systems Engineer with extensive experience leading training simulator programs and managing contractor efforts flexibly through all steps of the acquisition process, providing an uncommon combination of deep technical knowledge and big picture understanding of end user requirements.")%>

<h1>Résumé</h1>

<p>Please contact Paul Bogard at <%= link_to "paulbogard@gmail.com", "mailto:paulbogard@gmail.com" %> for questions or employment opportunities.</p>

<h2>Overview</h2>

<p>Accomplished Training Systems Engineer with extensive experience leading training simulator programs and managing contractor efforts flexibly through all steps of the acquisition process, providing an uncommon combination of deep technical knowledge and big picture understanding of end user requirements.</p>

<h2>Experience</h2>

<table class="table">
	<thead>
		<tr>
			<th colspan="2">United States Air Force &ndash; Simulators Program Office (AFMC AFLCMC/WNE) &middot; Wright-Patterson AFB, Ohio</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="resume-date">August 2013&ndash;Present</td>
			<td>
				<div class="resume-job-title">Lead Engineer, KC-46 Aircrew Training Systems</div>
				<ul>
				  <li>Lead engineer for the $86 million KC-46 Aircrew Training System (ATS) development (up to $2.1 billion with all production options)</li>
					<li>Provide technical leadership on a training system developing concurrently with an aircraft in active development, requiring substantial adaptability to keep the training system capability and delivery schedule in line with end user requirements</li>
					<li>Manage a team of three engineers, a test manager, a configuration manager, and a security analyst to evaluate contractor submissions for technical accuracy and acceptability, review schedule and risks, ensure training system achieves cybersecurity compliance, perform all technical aspects of the directorate self-inspection process, and other technical tasks as needed</li>
					<li>Represent the training system program offices at design, requirement, program management, Earned Value Management, and various other reviews with contractors and MAJCOM end-users</li>
					<li>Oversee site surveys at contractor facilities and training sites</li>
					<li>Support and work with the KC-46 aircraft program office to ensure the ATS receives the OEM and flight test data required for development and to align the ATS schedule and capabilities with the overall KC-46 training environment</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="resume-date">August 2010&ndash;September 2013</td>
			<td>
				<div class="resume-job-title">Lead Engineer, B-1 Training Systems</div>
				<ul>
				  <li>Performed as lead engineer for the $101 million B-1 Training System contract, responsible for all technical aspects of seven separate types of aircrew and maintenance training systems</li>
				  <li>Performed as Technical Factor Chief for the 2011 B-1 Training System source selection, which was awarded without protest and saved the government $75 million over 7 years</li>
				  <li>Conducted technical evaluation training for simulator engineers new to acquisition, enabling them and their contract negotiators to avoid tens of thousands of dollars of unnecessary costs on sole-source contract change proposals</li>
				  <li>Produced a program Systems Engineering Plan which was used as a template branch-wide</li>
				  <li>Oversaw test events at contractor facilities and training sites</li>
				  <li>Presented Earned Value Management briefings to division leadership</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td class="resume-date">February 2009&ndash;August 2010</td>
			<td>
				<div class="resume-job-title">Engineer, F-16 Training Systems</div>
				<ul>
				  <li>Concurrently performed as lead engineer for the F-16 Mission Training Center (MTC) Interim contract and engineer for the F-16 MTC Procurement contract</li>
				  <li>Represented the training system program offices at design, requirement, program management, and various other reviews for both programs</li>
				  <li>Evaluated contractor submissions for technical accuracy, feasibility, and reasonability, and developed a new technical evaluation supplemental spreadsheet format, which continues to be used to communicate technical issues to the rest of the integrated product team in an organized manner</li>
				  <li>Led the F-16 MTC Interim contract through a new, six-month engineering self-assessment, and developed a standard documentation method for division engineers to use for this assessment</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<table class="table">
	<thead>
		<tr>
			<th colspan="2">United States Air Force &ndash; Engineering Directorate (AFMC ASC/EN) &middot; Wright-Patterson AFB, Ohio</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="resume-date">July 2006&ndash;January 2009</td>
			<td>
				<div class="resume-job-title">Engineer</div>
				<ul>
				  <li>Developed an interactive, browser-based tool to enable the Air Transportability and Test Loading Agency (ATTLA) program office to determine which sections of MIL-STD-1791A applied to specific programs with enough flexibility to allow for the standards changes that occurred during development</li>
				  <li>Developed and deployed SharePoint site for EN home office, including developing some proofs of concept of new and unique uses of the existing SharePoint framework, a number of which were ultimately implemented instead of purchasing third-party tools to gain equivalent functionality</li>
				  <li>Developed training materials on the use of various EN home office websites</li>          
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<table class="table">
	<thead>
		<tr>
			<th colspan="2">TRW Automotive &middot; Marshall, Illinois</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="resume-date">June 2005&ndash;June 2006</td>
			<td>
				<div class="resume-job-title">Engineering Intern</div>
				<ul>
				  <li>Developed software to analyze factory assembly line statistics from tens of millions of points of data</li>
				  <li>Developed browser-based tools to generate automated reports for facility management on the periodic performance of the factory’s dozens of assembly lines and hundreds of individual machines</li>          
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<h2>Committees</h2>

<table class="table">
	<thead>
		<tr>
			<th colspan="2">Interservice/Industry Training, Simulation and Education Conference (I/ITSEC)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="resume-date">January 2013&ndash;Present</td>
			<td>
				<div class="resume-job-title">Subcommittee Member (Emerging Concepts, Simulation)</div>
				<ul>
					<li>Review and vote to accept or reject abstracts and papers for the I/ITSEC conference</li>
					<li>Provide guidance to authors throughout the paper acceptance process and during the conference presentations</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
	
<h2>Education</h2>

<table class="table">
	<tbody>
		<tr>
			<td class="resume-date">November 2008</td>
			<td>Master of Science<br />Computer Engineering</td>
			<td>
				<%= link_to "Wright State University", "http://www.wright.edu/", target: :_blank %><br />
				Dayton, Ohio</td>
		</tr>
		<tr>
			<td>May 2006</td>
			<td>Bachelor of Science<br />Computer Engineering</td>
			<td>
				<%= link_to "Rose-Hulman Institute of Technology", "http://www.rose-hulman.edu/", target: :_blank %><br />
				Terre Haute, Indiana
			</td>
		</tr>
	</tbody>
</table>

<h2>Certifications</h2>

<table class="table">
	<thead>
		<tr>
			<th colspan="2">DoD Acquisition Professional Development Program (APDP)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Systems Planning, Research, Development and Engineering - Systems Engineering (SPRDE-SE)</td>
			<td>Level III</td>
		</tr>
		<tr>
			<td>Program Management</td>
			<td>Level I</td>
		</tr>
		<tr>
			<td>Test and Evaluation</td>
			<td>Level I</td>
		</tr>
	</tbody>
</table>

<h2>Skills</h2>

<table class="table">
	<thead>
		<tr>
			<th colspan="2">Engineering and Management</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="resume-skill-category">Engineering and Management</td>
			<td>
				<ul>
					<li>Engineering Management</li>
					<li>Earned Value Management</li>
					<li>Product Life Cycle Management</li>
					<li>Program Management</li>
					<li>Systems Engineering</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<table class="table">
	<thead>
		<tr>
			<th colspan="2">Programming and Software</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="resume-skill-category">Languages and Frameworks</td>
			<td>
				<ul>
					<li>Ruby on Rails</li>
					<li>PHP</li>
					<li>VBScript/ASP</li>
					<li>JavaScript</li>
					<li>Java</li>
					<li>C++</li>
					<li>C</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Markup</td>
			<td>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>Sass/SCSS</li>
					<li>LaTeX</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Databases</td>
			<td>
				<ul>
					<li>Microsoft SQL Server</li>
					<li>MySQL</li>
					<li>PostgreSQL</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Version Control</td>
			<td>
				<ul>
					<li>Git</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Office Software</td>
			<td>
				<ul>
					<li>Microsoft Office (Word, Excel, PowerPoint, Outlook, Access, Project, Visio)</li>
					<li>Microsoft SharePoint</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<p class="center"><%= link_to(image_tag("#{PortfolioImage::ROOT_PATH}about/linkedinprofilebutton.gif", alt: "Paul Bogard’s LinkedIn profile"), "http://www.linkedin.com/pub/paul-bogard/31/162/a15", target: :_blank) %></p>