<% provide(:title, "RHIT")%>
<% provide(:meta_description, "Paul Bogard’s time at RHIT.")%>

<h1>Rose-Hulman Institute of Technology</h1>

<p>I obtained my Bachelor of Science degree in Computer Engineering at <%= link_to "RHIT", "https://www.rose-hulman.edu/", target: :_blank %> from 2002 to 2006.</p>

<ul>
  <li><%= link_to "Fast Track Calculus", fast_track_calculus_path %></li>
</ul>