<% provide(:title, "Starmen.Net and Fangamer Conventions")%>
<% provide(:meta_description, "Conventions with the EarthBound community")%>

<h1>Starmen.Net and Fangamer Conventions</h1>

<h2>Starmen Cons</h2>

<div class="row cover-row">
  <div class="col-lg-4 col-sm-6 cover">
  	<%= link_to(("<h3>Washingcon</h3>"	+
  	image_tag('photos/covers/washingcon.jpg', class: 'project-icon', alt: "Washingcon") +
  	%Q(<p><span class="location">Marysville, Washington</span><br/>15&ndash;23 July 2007</p>)).html_safe,
  	'#',
  	class: 'btn btn-link btn-block' )
  	%>
  </div>
</div>

<h2>Camp Fangamer</h2>

<h2>PAX</h2>