<h2>Saturday, July 14</h2>

<%= link_header("Ohio Mini-Minicon: The Con’s First Meeting", 3) %>

<p>The first meeting of con people occured in Johnstown, Ohio on the Saturday afternoon before the convention.  Paul (Fishsticks) picked up Joe (JamesPicard_007) and Danielle (Windy Rat) at Joe's house, and the three headed back to <acronym title="Fishsticks">Paul</acronym>’s home in Fairborn, Ohio.</p>

<%= project_image("photos/washingcon/pauls-home.jpg", caption: "Joe, Danielle, and Paul playing on the SNES") %>

<p>We only ended up staying up until nine in the evening, as we had to be up early the next morning.</p>