<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "vlog_videos/video", collection: vlog_videos %>
    <div class="video-count"><%= pluralize(vlog_videos.count, "video") %></div>
  </div>
</div>