<% provide(:title, "Edit StephenVlog Video") %>
<% provide(:theme, "stephenvlog") %>
<% provide(:button_text, "Update video")%>

<h1>Edit StephenVlog Video</h1>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render "form" %>
  </div>
</div>

<div class="row center">
  <div class="col-md-8 offset-md-2">
    <%= link_to "Delete this video", @vlog_video, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete #{@vlog_video.title}?" }, role: "button" %>
  </div>
</div>