<% provide(:title, "PAX Prime 2010") %>
<% provide(:meta_description, "Photos from PAX Prime 2010") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>PAX Prime 2010</h1>

<p>PAX Prime 2010 took place in Seattle, Washington on 3&ndash;5 September, 2010.</p>