<% provide(:title, "Yes We Con") %>
<% provide(:meta_description, "Photos from Yes We Con 2009.") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>Yes We Con</h1>

<p>Yes We Con took place at a vacation rental in Lake George, New York on 7&ndash;14 June, 2009.</p>