<% provide(:title, "PAX Prime 2013") %>
<% provide(:meta_description, "Photos from PAX Prime 2013") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>PAX Prime 2013</h1>

<p>PAX Prime 2013 took place in Seattle, Washington on 30 August&ndash;2 September, 2013.</p>