<% provide(:title, "PAX Prime 2012") %>
<% provide(:meta_description, "Photos from PAX Prime 2012") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>PAX Prime 2012</h1>

<p>PAX Prime 2012 took place in Seattle, Washington on 31 August&ndash;2 September, 2012.</p>