<% provide(:title, "Gatlincon") %>
<% provide(:meta_description, "Photos from Gatlincon 2010.") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>Gatlincon</h1>

<p>Gatlincon took place at a rental house in Gatlinburg, Tennessee on 25&ndash;31 July, 2010.</p>