<% provide(:title, "Edit #{@part.model}") %>
<% provide(:button_text, "Update part") %>

<h1>Edit <%= @part.name %></h1>

<%= render partial: "form" %>

<div class="row center">
  <div class="col-md-8 offset-md-2">
    <%= link_to "Delete this part", electronics_part_path(@part), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete #{@part.name_and_model}?" }, role: "button" %>
  </div>
</div>
