<% provide(:title, "Computers") %>
<% provide(:meta_description, "Tech specs of Paul Bogard’s computers and other electronics.") %>

<h1>Computers</h1>

<% if logged_in? %>
  <div><%= link_to("Add computer", new_computer_path) %></div>
<% end %>

<ul>
  <% @computers.each do |computer| %>
    <li><%= link_to(computer.name, computer_path(computer.slug)) %></li>
  <% end %>
</ul>