<% provide(:title, "Computers") %>
<% provide(:meta_description, "Tech specs of Paul Bogard’s computers and other electronics.") %>

<h1>Computers</h1>

<% @computers.each do |computer| %>
  <p><%= computer.name %></p>
<% end %>

<% if logged_in? %>
  <div><%= link_to("Add computer", new_computer_path) %>
<% end %>