<% provide(:title, "#{@computer.name} - Computer History")%>
<% provide(:meta_description, "Paul Bogard’s history of parts in his computer #{@computer.name}.") %>

<h1>Computer History &ndash; <%= @computer.name %></h1>

<%= MarkdownText.parse(@computer.description) %>