<% provide(:title, "PAX East 2015") %>
<% provide(:meta_description, "Photos from PAX East 2015") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>PAX East 2015</h1>

<p>PAX East 2015 took place in Boston, Massachusetts on 6&ndash;8 March, 2015.</p>