line.gridline {
  stroke: #c1c3c8;
  stroke-width: 1;
}

rect#canvas {
  fill: #f4f5f6;
}
rect.owned {
  fill: #a5a8af;
}
rect.tooltip-zone {
  fill: #ffffff;
  fill-opacity: 0;
  stroke: 1;
}
rect.used {
  fill: #55595f;
}
rect.used-current {
  fill: #002d78;
}
rect.used-other-computer {
  fill: url(#used-other-computer);
}
rect.used-other-computer-current {
  fill: url(#used-other-computer-current);
}
line.used-other-computer {
  stroke: #55595f;
  stroke-width: 2;
}
line.used-other-computer-current {
  stroke: #002d78;
  stroke-width: 2;
}

text {
  font-family: "Source Sans Pro";
}
text.category {
  font-size: 16pt;
}
text.legend {
  font-size: 11pt;
}
text.part-bar {
  font-size: 12pt;
}
text.part-bar-over {
  fill: #fbfbfc;
}
text.part-bar-side {
  fill: #42454a;
}
text.year {
  fill: #c1c3c8;
  font-size: 12pt;
  text-anchor: middle;
}