<% provide(:title, "Flagstaff Con") %>
<% provide(:meta_description, "Photos from Flagstaff Con 2014.") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>Flagstaff Con</h1>

<p>Flagstaff Con took place at a rental house in Flagstaff, Arizona on 22&ndash;29 June, 2014.</p>