<% provide(:title, "Part Categories") %>
<% provide(:meta_description, "Category listing for Paul Bogard’s electronic devices and parts.") %>
<% provide(:admin_actions, format_admin_actions({"Add Part Category" => new_electronics_part_category_path})) %>

<h1>Part Categories</h1>

<% if @categories.any? %>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to(category.name, electronics_part_category_path(category)) %></li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info">No part categories have been added yet.</div>
<% end %>