<% provide(:title, "Part Categories") %>
<% provide(:meta_description, "Category listing for Paul Bogard’s electronic devices and parts.") %>
<% provide(:admin_actions, format_admin_actions({"Add Part Category" => new_electronics_part_category_path})) %>

<h1>Part Categories</h1>

<% if @categories.any? %>
  <table class="table">
    <tbody>
      <% @categories.each do |category| %>
        <tr><td><%= link_to(category.name, electronics_part_category_path(category)) %></td></tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">No part categories have been added yet.</div>
<% end %>