<% provide(:title, "#{@category.name} - Electronics History") %>
<% provide(:meta_description, "Paul Bogard’s device history for #{@category.name_lowercase_plural}.") %>
<% provide(:admin_actions, format_admin_actions({"Edit" => edit_electronics_part_category_path(@category)})) %>

<h1>Device History &ndash; <%= @category.name %></h1>

<% if @category.parts.any? %>
  <ul>
    <% @category.parts.each do |part| %>
      <li><%= link_to(part.name_and_model, electronics_part_path(part)) %></li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info">No parts have been assigned to <%= @category.name %>.</div>
<% end %>