<% provide(:title, "Edit StephenVlog Tag (#{@vlog_video_tag.name})") %>
<% provide(:theme, "stephenvlog") %>
<% provide(:button_text, "Edit tag")%>

<h1>Edit StephenVlog Tag</h1>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render "form" %>
  </div>
</div>