<% provide(:title, "Add StephenVlog Tag") %>
<% provide(:theme, "stephenvlog") %>
<% provide(:button_text, "Add tag")%>

<h1>Add StephenVlog Tag</h1>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render "form" %>
  </div>
</div>