<% provide(:title, "StephenVlog Appearances (#{@tag.name})") %>
<% provide(:meta_description, "Paul’s appearances on StephenVlog (#{@tag.name})") %>
<% provide(:theme, "stephenvlog") %>

<h1>StephenVlog Appearances<br><small><%= @tag.name %></small></h1>

<% if logged_in? %>
  <p class="center"><%= link_to("Edit tag", edit_vlog_video_tag_path(@tag), class: "btn btn-primary", role: "button") %></p>
<% end %>

<% if @tag.description.present? %>
<p><%= @tag.description %></p>
<% end %>

<%= render partial: "vlog_videos/videos", locals: {vlog_videos: @vlog_videos} %>