<% provide(:title, "PAX South 2019") %>
<% provide(:meta_description, "Photos from PAX South 2019") %>
<% provide(:theme, "pax-south")%>

<h1>PAX South 2019</h1>

<p>PAX South 2019 took place in San Antonio, Texas on 18&ndash;20 January, 2019.</p>