<% provide(:title, "Edit Book")%>
<% provide(:button_text, "Edit book")%>

<h1>Edit Book</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'form' %>
  </div>
</div>

<hr />

<div class="row center">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Delete this book".html_safe, @book, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete #{@book.title}?" }, role: "button" %>
  </div>
</div>