<% provide(:title, "Add Book to Reading List")%>
<% provide(:button_text, "Add book")%>

<h1>Add Book to Reading List</h1>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render 'form' %>
  </div>
</div>