<% provide(:title, "Utacon") %>
<% provide(:meta_description, "Photos from Utacon 2011.") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>Utacon</h1>

<p>Utacon took place at a rental house in Herriman, Utah on 24&ndash;31 July, 2011.</p>