<% provide(:title, "Electronics") %>
<% provide(:meta_description, "Tech specs and history of Paul Bogard’s computers and other electronics.") %>

<h1>Electronics</h1>

<p><%= link_to "Computers", electronics_computers_path %></p>
<p><%= link_to "Parts", electronics_parts_path %></p>
<p><%= link_to "Part Categories", electronics_part_categories_path %></p>