<% provide(:title, "Electronics and Computers") %>
<% provide(:meta_description, "Tech specs and history of Paul Bogard’s computers and other electronics.") %>

<h1>Electronics and Computers</h1>

<%= project_image("computers/Desk 2016-12-20 - 800.jpg", type: :photo) %>

<p><%= link_to "Computers", electronics_computers_path %></p>
<p><%= link_to "Parts", electronics_parts_path %></p>
<p><%= link_to "Part Categories", electronics_part_categories_path %></p>