<div class="row">
  <div class="col-md-12 center">
    <div class="btn-group">
      <%= menu.map{|k,v|
        path = (k == :Overview) ? flight_historian_path : flight_historian_path(version: k.to_s.parameterize)
        classes = %w(btn btn-default)
        classes.push v[:class] if v[:class]
        classes.push "active" if v[:active]
        link_to(k, path, class: classes)
      }.join.html_safe %>
    </div>
  </div>
</div>