<div class="row version-picker">
  <div class="col-md-12 center">
    <% @all_versions.group_by{|k, v| v[:version].split(".").first}.values.each do |group| %>
      <div class="btn-group flex-wrap">
        <% group.each do |k, v| %>
          <% classes = %w(btn btn-outline-dark) %>
          <% classes.push "active" if params[:version]&.to_sym == k %>
          <%= link_to(v[:version], flight_historian_path(version: k), class: classes) %>
        <% end %>
      </div>      
    <% end %>
  </div>
</div>