<% provide(:title, "Flight Historian 1.0")%>
<% provide(:meta_description, "Flight Historian version 1.0 change log")%>

<h1>
  Flight Historian 1.0<br/>
  <small>Initial Release</small>
</h1>

<%= render partial: "static_pages/flight_historian/version_picker", locals: {menu: @version_menu} %>

<!-- link button to specific github version, spec -->

<div class="release-date">27 April 2013</div>