<% provide(:title, "Indiana Minicon") %>
<% provide(:meta_description, "Photos from Indiana Minicon 2006.") %>

<%= render partial: "static_pages/galleries/starmen_gallery_link" %>

<h1>Indiana Minicon</h1>

<p>The Indiana Minicon took place in Lafayette and Kokomo, Indiana on 19&ndash;20 August, 2006.</p>