<% provide(:title, "Camp Videogamely") %>
<% provide(:meta_description, "Photos from Camp Videogamely 2016") %>



<h1>Camp Videogamely</h1>

<p>Camp Videogamely took place in Tucson, Arizona on 29&ndash;31 July, 2016.</p>

<%= youtube_embed("XzJSqoa5q8w")%>