<% provide(:title, @convention[:name]) %>
<% provide(:meta_description, @meta_description) %>



<h1><%= @convention[:name] %></h1>

<p>Camp Videogamely took place in Tucson, Arizona on 29&ndash;31 July, 2016.</p>

<%= youtube_embed("XzJSqoa5q8w")%>