/******************************************************************************
* BASE                                                                        *
* Base styles for Paul Bogard’s Portfolio.                                    *
******************************************************************************/

@mixin page-theme($color-base) {
  
  background-color: change-color($color-base, $saturation: 50%, $lightness: 85%);
  
  a {
    color: darken($color-base, 10%);
  }
  
  h1, h2, h3, h4, h5, h6 {
    a {
      color: $color-text;
    }
  }

  div.tile h3 {
    color: #FFFFFF;
    text-shadow: 0.05em 0.05em darken($color-base, 20%);
  }

  a.badge-theme, span.badge-theme {
    background-color: $color-base;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
    &:hover {
      background-color: lighten($color-base, 5%);
    }
  }

  a.badge-theme-inverse, span.badge-theme-inverse {
    color: #FFFFFF;
    background-color: $color-base;
    border: 1px solid #FFFFFF;
    text-shadow: none;
    margin: 0 0.1rem;
    font-weight: normal;
  }

  a.btn {
    color: #FFFFFF;
  }

  a.btn-outline-dark {
    color: $color-base;
    &:hover {
      background-color: $color-base;
      color: #FFFFFF;
    }
  }
  
  a.btn-theme {
    background-color: $color-base;
    border-color: darken($color-base, 10%);
    color: #FFFFFF;
    text-shadow: 0.05em 0.05em darken($color-base, 10%);
    &:hover {
      background-color: lighten($color-base, 5%)
    }
  }
  
  img.project {
    border: 2px solid $color-base;
  }
  
  nav.navbar {
    background-color: $color-base;
    border-color: lighten($color-base, 10%);
  }

}

/* universal */

body {
	font-family: $font-stack-normal;
	font-size: $font-size-default;
  color: $color-text;
  background-color: hsl(0,5%,92%);
	
	font-variant-ligatures: common-ligatures;
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga", "dlig";
	-webkit-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";
}

#main {
  background-color: $color-background-main;
  padding: 1rem 3rem;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

img.center {
  margin-left: auto;
  margin-right: auto;
}

a:not(.btn) {
	color: $color-primary-extra-light;
	text-decoration: underline;
}

a:hover {
	color: $color-primary-light;
}

a:active {
	color: $color-primary-light;
}

a.btn {
	text-decoration: none;
}

a.link-header {
  color: inherit;
  text-decoration: none;
}

abbr {
  text-decoration: none;
  border-bottom: 0.05em dotted;
}

cite {
  font-style: italic;
}

code, kbd {
	font-family: $font-stack-monospace;
}

pre {
  font-family: $font-stack-monospace;
  font-size:   $font-size-default;
  white-space: pre-wrap;
}

blockquote.twitter-tweet {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

div.byline {
	text-align: center;
	color: $color-text-light;
	font-style: italic;
	margin-top: -5px;
	margin-bottom: 35px;
}

div.byline::before {
	content: '— ';
}

div.byline::after {
	content: ' —';
}

div.error {
  background: #FFCCCC;
  border: 1px solid #FF0000;
  padding: 1em;
}

div.version-picker, div.version-summary {
  margin: 1.5em 0;
}

figure {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
  padding: 5px;
  
  figcaption {
    margin: 10px;
    font-weight: 700;
    span.caption-label {
      font-style: italic;
    }
  }
  figcaption.attribution {
    font-size: 10px;
    font-weight: 400;
    color: $color-text-light;
  }
  
  img.project {
  	margin: 10px auto;
  }

  img.ios-screenshot {
  	max-width: 375px;
  	height: auto;
  	border: 1px solid $color-border;
  }
  
  img.osx-screenshot {
    max-width: 600px;
    border: none;
  }
  
  img.screenshot {
    max-width: 600px;
    border: 1px solid $color-text;
    box-shadow: 1px 1px 5px $color-text-light;
  }
}

h1 {
  font-size: 250%;
  font-weight: 400;
  text-align: center;
	margin-top: 0.25em;
	margin-bottom: 0.75em;
}

h2 {
  font-weight: bold;
  margin-top: 0.75em;
	margin-bottom: 0.75em;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

hr {
  border-top: 1px solid $color-border;
}

img.bordered {
	border: 1px solid $color-border;
}

img.center {
  margin-left: auto;
  margin-right: auto;
}

img.org-logo {
	width: 200px;
	height: 100px;
	margin: 10px auto;
}

img.portrait {
	margin: 20px auto;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: $line-height-default;
}

small {
  color: $color-text-light;
}

.strong {
  font-weight: 700;
}

strong {
	font-weight: 700;
}

td {
  line-height: $line-height-default;
  p {
    line-height: $line-height-default;
  }
}

.emphasis {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.website-name {
  font-variant: small-caps;
  letter-spacing: 0.02em;
  background-color: $color-background-light;
}