/******************************************************************************
* COMPUTERS                                                                   *
* Styles for computer description pages.                                      *
******************************************************************************/

ul.component {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	li {
		margin-bottom: 1em;
	}
	li:last-child {
		margin-bottom: 0;
	}
	p {
		margin: 0;
		font-weight: normal;
		line-height: $line-height-small;
	}

	p.supplemental, p.purchased {
		margin-top: 0.4rem;
	}

	p.supplemental {
		font-size: $font-size-small;
		color: $color-text-light;
		span.vlog-subtitle {
			font-style: italic;
		}
	}

	p.purchased {
		font-size: $font-size-extra-small;
		color: $color-text-light;
	}

	p.recent {
		font-weight: bold;
		color: $color-text-light-good;
	}

	span.device_name {
		font-weight: 700;
	}
	span.unpictured {
		font-style: italic;
	}
}

ul.computer-specs {
	li {
		line-height: $line-height-default;
	}
}