/******************************************************************************
* COMPUTERS                                                                   *
* Styles for computer description pages.                                      *
******************************************************************************/

div.computer-summary {
  margin: 20px 0;
  figure {
    margin: 10px 0;
	}
	h3 {
		font-size: 150%;
		margin-top: 0;
		margin-bottom: 0.25em;
	}
	h4 {
		margin-top: 0;
		font-weight: 300;
		color: $color-text-light;
	}
	p.computer-model {
		font-weight: bold;
		margin-bottom: 0.75em;
		line-height: $line-height-small;
	}
	li {
		margin-top: 0;
		margin-bottom: 0.5em;
		margin-left: 0.5em;
		line-height: $line-height-small;
	}
	li:last-child {
		margin-bottom: 0;
	}
}

th.label {
	width: 20%;
}

ul.component {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	li {
		margin-bottom: 1em;
	}
	li:last-child {
		margin-bottom: 0;
	}
	p {
		margin: 0;
		font-weight: normal;
		line-height: $line-height-small;
	}

	p.supplemental, p.purchased {
		margin-top: 0.4rem;
	}

	p.supplemental {
		font-size: $font-size-small;
		color: $color-text-light;
		span.vlog-subtitle {
			font-style: italic;
		}
	}

	p.purchased {
		font-size: $font-size-extra-small;
		color: $color-text-light;
	}

	p.recent {
		font-weight: bold;
		color: $color-text-light-good;
	}

	span.device_name {
		font-weight: 700;
	}
	span.unpictured {
		font-style: italic;
	}
}