/******************************************************************************
* COMPUTERS                                                                   *
* Styles for computer description pages.                                      *
******************************************************************************/

div.electronics-categories {
	text-align: center;
}

div.electronics-timeline {
	text-align: center;
	svg {
		max-width: 900px;
	}
	margin-top: 1rem;
	margin-bottom: 1rem;
}

p.electronics-computer-model {
	text-align: center;
	font-size: $font-size-large;
	font-weight: 300;
}

p.electronics-shared-categories {
	text-align: center;
}

span.electronics-name {
	font-style: italic;
}

table.computer-parts-summary {
	span.model {
		font-weight: 300;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding-left: 0;
		li {
			margin-bottom: 0.8em;
		}
		li:last-child {
			margin-bottom: 0;
		}
	}
}

table.electronics-computer-index {
	td.electronics-row-icon {
		width: 150px;
	}
	td.electronics-row-computer {
		text-align: center;
		div.electronics-computer-name {
			font-size: $font-size-large;
			margin-bottom: 0.2em;
		}
		div.electronics-computer-model {
			line-height: $line-height-small;
			font-weight: 300;
			margin-bottom: 0.4em;
		}
		div.electronics-computer-date {
			font-size: $font-size-small;
			font-weight: bold;
			color: $color-text-light;
		}
	}
}

table.electronics-tooltip {
	td {
		line-height: $line-height-small;
		img {
			margin-right: 10px;
		}
		div {
			margin-top: 3px;
			margin-bottom: 3px;
		}
		div.electronics-tooltip-name {
			font-weight: bold;
			font-size: 125%;
		}
		div.electronics-tooltip-model {
			font-weight: bold;
		}
		div.electronics-tooltip-dates {
			font-style: italic;
		}
		div.electronics-tooltip-photo-credit {
			margin-top: 10px;
			font-size: 85%;
			color: $color-text-light;
		}
		ul {
			margin: 6px 0 3px 0;
			padding: 3px 0 0 0;
			list-style-type: none;
			border-top: 1px solid $color-border;
			li {
				margin-top: 3px;
			}
		}
	}
}

ul.computer-parts-summary {
	list-style-type: none;
	padding-left: 0;
	
	li {
		font-weight: bold;

		ul {
			list-style-type: none;
			padding-left: 1em;

			li {
				font-weight: normal;
			}
		}
	}
}