/******************************************************************************
* FORMS                                                                       *
* Styles for forms.                                                           *
******************************************************************************/

input.date-field {
  width: 175px;
}

ul.form-collection-check-boxes {
  list-style-type: none;
  margin-top: 0;
}