/******************************************************************************
* GALLERIES                                                                   *
* Styles for image galleries.                                                 *
******************************************************************************/

span.card-title {
  font-style: italic;
}
span.card-description {
  font-weight: 300;
  font-style: italic;
}