.sublabel {
  font-weight: 300;
  color: $color-text-light;
  font-size: 80%;
}

img.icon-games {
  width:  40px;
  height: 40px;
  margin: 4px;
}

table.games-table {
  margin-top: 1em;
}

td.icon {
  width: 50px;
  padding: 0;
}