.sublabel {
  font-weight: 300;
  color: $color-text-light;
  font-size: 80%;
}

img.icon-games {
  width:  40px;
  height: 40px;
  margin: 4px;
}

table.games-table {
  margin-top: 1em;
  
  th {
    background-color: $color-border-bootstrap;
  }

  td.icon {
    width: 50px;
  }

  td.service {
    width: 12em;
  }

  td.screen-name {
  }
}



