.sublabel {
  font-weight: 300;
  color: $color-text-light;
  font-size: 80%;
}

img.icon-games {
  width:  40px;
  height: 40px;
  margin: 4px;
}

table.games-table {
  
  th {
    background-color: $color-border-bootstrap;
  }

  td {
    line-height: $line-height-small;
  }

  td.icon {
    width: 50px;
  }

  td.service {
  }

  td.screen-name {
    text-align: right;
  }
}



