/******************************************************************************
* HEADER                                                                      *
* Header styles.                                                              *
******************************************************************************/

header {
	
}

nav.navbar {
	
	background-color: $color-primary;

	li.dropdown {
		a.active {
			font-weight: bold;
			color: $color-text;
			background-color: inherit;
		}
	}
	
}

nav.breadcrumb {
	font-weight: 300;
	padding: 0;
	background-color: $color-background-main;

	ol.breadcrumb {
		padding: 0;
		margin: 0;
		background-color: $color-background-main;
	}
}



a.nav-link {
	margin-left: 0.5em;
	text-decoration: none;
	color: $color-inverse-text !important;
}

a.dropdown-item {
	text-decoration: none;
}

