/******************************************************************************
* HEADER                                                                      *
* Header styles.                                                              *
******************************************************************************/

header {
	
}

nav {
	font-weight: 300;
	background-color: $color-primary;

	li.dropdown {
		a.active {
			background-color: $color-primary;
			color: $color-inverse-text;
		}
	}
	
	.selected {
		font-weight: bold;
	}
}

a.nav-link {
	margin-left: 0.5em;
	text-decoration: none;
	color: $color-inverse-text !important;
}

a.dropdown-item {
	text-decoration: none;
}

ol.breadcrumb {
	padding: 0;
	background-color: $color-background-main;
}