/******************************************************************************
* RESUME                                                                      *
* Résumé styles.                                                              *
******************************************************************************/

div.resume-job-title {
	margin-bottom: 15px;
	font-style: italic;
}

td.resume-date, td.resume-skill-category {
	width: 25%;
}