/******************************************************************************
* COVERS                                                                      *
* Styles for grids of page cover tiles.                                       *
******************************************************************************/

@mixin tile-theme($color-base) {
  a {
    background: darken($color-base, 7%);
    background: linear-gradient(darken($color-base, 7%), darken($color-base, 8%));

    &:hover {
      background: lighten($color-base, 5%);
      background: linear-gradient(lighten($color-base, 5%), $color-base);
    }
  }

  h3, p {
    color: #FFFFFF;
    text-shadow: 0.05em 0.05em darken($color-base, 20%);
  }

  img {
    border: 1px groove darken($color-base, 10%);
    box-shadow: none;
  }
}

div.tile {
  text-align: center;
  padding: 1rem;
  
	a {
		border-radius: 5px;
    color: $color-primary;
    white-space: inherit;
    
    &:hover {
  		text-decoration: none;
  		background-color: $color-background-light;
  		border: 1px solid $color-border;
      color: $color-primary;
    }
	}
	
	h3 {
    margin: 0.75em 0;
    line-height: 1.4em;
    font-size: 140%;
    font-weight: 700;
  }
  
  img {
    width: 302px;  /* 300 plus 1px border */
    height: 227px; /* 225 plus 1px border */
  	margin: 10px 0 5px 0;
    border: 1px solid $color-border;
  	border-radius: 5px;
  	box-shadow: 1px 1px 2px $color-background-light;
  }
  
	p {
		margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
	}
	
}

div.tile.tile-widescreen {
  a {
    height: 21em;
  }
  img {
    width: 322px;  /* 320 plus 1px border */
    height: 182px; /* 180 plus 1px border */
  }
}

div.stephenvlog {
  @include tile-theme($color-theme-stephenvlog);
}