/******************************************************************************
* COVERS                                                                      *
* Styles for grids of page cover tiles.                                       *
******************************************************************************/

@mixin tile-theme($color-base) {
  div.tile {
    a {
      background: darken($color-base, 7%);
      background: linear-gradient(darken($color-base, 7%), darken($color-base, 8%));

      &:hover, &:focus {
        background: lighten($color-base, 5%);
        background: linear-gradient(lighten($color-base, 5%), $color-base);
        text-decoration: none;
        .event {
          color: lighten($color-base, 5%);
        }
      }
    }
  }

  h3, p {
    color: #FFFFFF;
    text-shadow: 0.05em 0.05em darken($color-base, 20%);
    
  }

  p.event {
    background-color: #ffffff;
    color: darken($color-base, 20%);
  }

  img {
    border: 1px groove darken($color-base, 10%);
    box-shadow: none;
  }
}

div.tile {
  text-align: center;
  padding: 0.75rem;
  
	a {
    text-decoration: none;
    border-radius: 5px;
    color: $color-primary;
    white-space: inherit;
    font-size: 100%;
    
    &:hover, &:focus {
  		text-decoration: none;
  		background-color: $color-background-light;
  		border: 1px solid $color-border;
      color: $color-primary;
    }

    &:active {
      text-decoration: none;
    }
	}
	
	h3 {
    margin: 0.3em 0;
    line-height: 1.4em;
    font-weight: 400;
  }
  
  img:not(.img-fluid) {
    width: 302px;  /* 300 plus 1px border */
    height: 227px; /* 225 plus 1px border */
  }

  img {
  	margin: 10px 0 5px 0;
    border: 1px solid $color-border;
  	border-radius: 5px;
  	box-shadow: 1px 1px 2px $color-background-light;
  }
  
	p {
    font-size: $font-size-small;
		margin: 0.3em 0;
    font-weight: 300;
	}
	
}