/******************************************************************************
* VARIABLES                                                                   *
* Common SCSS variables.                                                      *
******************************************************************************/

$color-text: hsl(0, 10%, 20%);
$color-text-light: hsl(0, 10%, 40%);

$color-text-light-good: hsl(160, 80%, 40%);

$color-inverse-text: hsl(0, 0%, 90%);
$color-inverse-text-highlight: hsl(0, 0%, 80%);

$color-background-main: #F7F7F7;
$color-background-light: hsl(0, 0%, 90%);
$color-border: hsl(0, 0%, 80%);
$color-border-bootstrap: #DDDDDD;

$color-primary-extra-light: hsl(0, 49.8%, 44.5%);
$color-primary-light: hsl(0, 73.4%, 28%);
$color-primary: hsl(0, 100%, 16.7%);
$color-primary-dark: hsl(0, 100%, 10%);
$color-primary-extra-dark: (0, 100%, 4.5%);

$font-stack-normal: "Source Sans Pro", sans-serif;
$font-stack-monospace: 'Source Code Pro', monospace;

$font-size-default:     15pt;
$font-size-small:       13pt;
$font-size-extra-small: 10pt;

$line-height-default: 1.7em;
$line-height-small:   1.2em;
$line-height-extra-small: 1em;

/* Theme base colors */

  $color-theme-pax-aus:       #FFAE00;
  $color-theme-pax-dev:       #00A49A;
  $color-theme-pax-east:      #D9272D;
  $color-theme-pax-south:     #FF7600;
  $color-theme-pax-unplugged: #91489A;
  $color-theme-pax-west:      #007DBB;

  $color-theme-stephenvlog:   #059347;