@import "bootstrap-sprockets";
@import "bootstrap";


$color-text: hsl(0, 10%, 20%);
$color-text-light: hsl(0, 10%, 40%);

$color-text-light-good: hsl(160, 80%, 40%);

$color-inverse-text: hsl(0, 0%, 90%);
$color-inverse-text-highlight: hsl(0, 0%, 80%);

$color-background-light: hsl(0, 0%, 90%);
$color-border: hsl(0, 0%, 80%);

$color-primary-extra-light: hsl(0, 49.8%, 44.5%);
$color-primary-light: hsl(0, 73.4%, 28%);
$color-primary: hsl(0, 100%, 16.7%);
$color-primary-dark: hsl(0, 100%, 10%);
$color-primary-extra-dark: (0, 100%, 4.5%);

$font-stack-normal: 'Merriweather', serif;
$font-stack-monospace: 'Source Code Pro', monospace;

$font-size-default: 13pt;

$line-height-default: 1.8em;

/* universal */

body {
	font-family: $font-stack-normal;
	font-size: $font-size-default;
	color: $color-text;
	
	font-variant-ligatures: common-ligatures;
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga", "dlig";
	-webkit-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

a {
	color: $color-primary-extra-light;
	text-decoration: underline;
}

a:visited {
	color: $color-primary-extra-light;
	text-decoration: underline;
}

a:hover {
	color: $color-primary-light;
}

a:active {
	color: $color-primary-light;
}

a.btn {
	text-decoration: none;
}

code, kbd {
	font-family: $font-stack-monospace;
}

div.byline {
	text-align: center;
	color: $color-text-light;
	font-style: italic;
	margin-top: -5px;
	margin-bottom: 35px;
}

div.byline::before {
	content: '— ';
}

div.byline::after {
	content: ' —';
}

div.image {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
}

h2 {
	margin-top: 30px;
	margin-bottom: 20px;
}

img.bordered {
	border: 1px solid $color-border;
}

img.org-logo {
	width: 200px;
	height: 100px;
	margin: 10px auto;
}

img.portrait {
	margin: 20px auto;
}

li, td {
	line-height: $line-height-default;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: $line-height-default;
}

strong {
	font-weight: 700;
}



/* header */

header {
	padding: 5px;
}

/* navbar */
/* Navbar overwrite CSS modified from https://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3# */
.navbar-default {
    background-color: $color-primary;
    border-color: $color-primary-extra-light;
		
		/* link */
		
		a {
			text-decoration: none;
		}
		
		.navbar-nav > li > a,
		.navbar-nav > li > a:focus {
		    color: $color-inverse-text;
		}
		.navbar-nav > li > a:hover {
		    color: $color-inverse-text-highlight;
		}
		
		.navbar-nav > .active > a, 
		.navbar-nav > .active > a:hover, 
		.navbar-nav > .active > a:focus {
		    color: $color-inverse-text;
		    background-color: $color-primary-extra-light;
		}
		
		.selected {
			font-weight: bold;
		}
		
				
		.navbar-nav > .open > a, 
		.navbar-nav > .open > a:hover, 
		.navbar-nav > .open > a:focus {
		    color: $color-inverse-text;
		    background-color: $color-primary-dark;
		}
		
		/* caret */
		.navbar-nav > .dropdown > a .caret {
		    border-top-color: $color-inverse-text;
		    border-bottom-color: $color-inverse-text;
		}
		.navbar-nav > .dropdown > a:hover .caret,
		.navbar-nav > .dropdown > a:focus .caret {
		    border-top-color: $color-inverse-text-highlight;
		    border-bottom-color: $color-inverse-text-highlight;
		}
		.navbar-nav > .open > a .caret, 
		.navbar-nav > .open > a:hover .caret, 
		.navbar-nav > .open > a:focus .caret {
		    border-top-color: $color-inverse-text;
		    border-bottom-color: $color-inverse-text;
		}
		
		/* mobile version */
		.navbar-toggle {
		    border-color: $color-primary-dark;
		}
		.navbar-toggle:hover,
		.navbar-toggle:focus {
		    background-color: $color-primary;
		}
		.navbar-toggle .icon-bar {
		    background-color: $color-inverse-text;
		}
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open {
		.dropdown-menu > li > a {
        color: $color-inverse-text;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: $color-inverse-text-highlight;
    }
	}
		
}

/* footer */

footer {
	text-align: center;
	border-top: 1px solid $color-border;
	padding: 15px;
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 75%;
}


/* projects */


a.icon-button {
	font-size: $font-size-default;
	color: $color-text;
	white-space: normal;
}

div.project-row {
	a {
		margin-bottom: 10px;
	}
	a:hover {
		text-decoration: none;
		background-color: $color-background-light;
		border: 1px solid $color-border;
		border-radius: 5px;
	}
}

div.project {
	text-align: center;
	h2 {
		margin-top: 10px;
	}
	p {
		margin-top: 10px;
	}
	a {
		color: $color-primary;
	}
	a:hover {
		color: $color-primary;
	}
}

div.button-row {
	margin-top: 30px;
	margin-bottom: 30px;
}

img.icon-button {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

img.project {
	margin: 0 auto;
}

img.ios-screenshot {
	max-width: 375px;
	height: auto;
	border: 1px solid $color-border;
}

img.project-icon {
	width: 300px;
	height: 225px;
	border: 1px solid $color-border;
	border-radius: 5px;
	box-shadow: 1px 1px 2px $color-background-light;
}

/* Computers */

ul.component {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	li {
		margin-bottom: 10px;
	}
	p {
		margin: 0;
		font-weight: normal;		
	}

	p.recent {
		font-weight: bold;
		color: $color-text-light-good;
	}
	span.device_name {
		font-weight: 700;
	}
	span.unpictured {
		font-style: italic;
	}
}

p.supplemental {
	font-size: 80%;
	margin: 0 0 0 15px;
	color: $color-text-light;
}

p.purchased, p.date {
	font-size: 70%;
	margin: 0 0 0 15px;
	color: $color-text-light;
}

/* Reading List */

td.reading-title {
	width: 50%;
	font-style: italic;
	span {
		font-size: 80%;
		font-weight: 300;
	}
}

td.reading-author {
	width: 50%;
}

/* Resume */

div.resume-job-title {
	margin-bottom: 15px;
	font-style: italic;
}

td.resume-date, td.resume-skill-category {
	width: 25%;
}

/* Terminal Silhouettes */

div.terminal-silhouette-container {
	h3 {
		text-align: center;
	}
}

div.terminal-silhouette-links {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 40px;
}

div.terminal-silhouette-preview {
	max-width: 500px;
	padding: 0;
	margin: 0 auto;
}

img.terminal-silhouette-preview {
	border: 1px solid $color-border;
}

/* Stephenvlog */

td.video-thumbnail {
	width: 170px;
}

td.video-trip-link {
	width: 50px;
}