@import "bootstrap";

body {
  font-family: "Lato", sans-serif;
  font-size: 13pt;
}

#chart {
}

.hidden-by-default {
  display: none;
}

div.chart {
  text-align: center;
}

div.form-group {
  margin: 0;
}

div.share-button {
  float: right;
  a {
    margin-top: 7px;
  }
}

/* SVG styles */

line.axis {
  stroke: #222222;
  stroke-width: 2;
  stroke-linecap: square;
}