@import "bootstrap";

$color-dark: #666666;
$color-light: #DDDDDD;

body, text {
  font-family: "Lato", sans-serif;
  color: $color-dark;
  font-size: 13pt;
}

#chart {
  cursor: crosshair;
}

#component-title {
  height: 55px;
  h1 {
    padding-top: 6px;
    cursor: pointer;
  }
  input {
    @extend h1;
    height: 50px;
    cursor: text;
  }
}

.hidden-by-default {
  display: none;
}

div.chart {
  text-align: center;
}

div.form-group {
  margin: 0;
}

div.share-button {
  float: right;
  a {
    margin-top: 7px;
  }
}

h1 {
  text-align: center;
}



/* SVG styles */

line.axis {
  stroke: $color-dark;
  stroke-width: 2;
  stroke-linecap: square;
}

line.grid {
  stroke: $color-light;
  stroke-width: 1;
}

line.travel {
  stroke: #D2D7D9;
  stroke-width: 8;
  stroke-linecap: round;
}

rect.location-block {
}

rect.supplemental {
  fill: #FFFFEE;
  stroke: $color-dark;
  stroke-width: 1;
}

text {
  fill: $color-dark;
}

text.axis-label {
  font-size: 12pt;
  text-anchor: middle; 
}

text.axis-value {
  font-size: 10pt;
  font-weight: 400;
}

text.axis-value-x {
  text-anchor: middle;
}

text.location {
  font-size: 10pt;
  font-style: italic;
  fill: white;
}

text.supplemental-location {
  font-size: 10pt;
  font-weight: 700;
  text-anchor: middle;
}

text.supplemental-offset {
  font-size: 8pt;
  font-style: italic;
  text-anchor: middle;
}

text.supplemental-time {
  font-size: 8pt;
  font-weight: 400;
  text-anchor: middle;
}

text.left {
  text-anchor: start;
}

text.right {
  text-anchor: end;
}