@import "bootstrap";

body {
  font-family: "Lato", sans-serif;
  font-size: 13pt;
}

#chart {
  border: 1px solid #cccccc;
}

.hidden-by-default {
  display: none;
}

div.chart {
  text-align: center;
}

div.form-group {
  margin: 0;
}

div.share-button {
  float: right;
  a {
    margin-top: 7px;
  }
}