<% html = Array.new %>
<% html.push content_tag(:div, nil, class: %w(punch)) %>
<% html.push image_tag(image_path("pax-logo.svg"), alt: "PAX Logo", class: %w(img-fluid logo)) %>
<% html.push content_tag(:p, pax.event, class: %w(event)) %>
<% html.push content_tag(:p, pax.year, class: %w(year)) %>
<% html.push content_tag(:p, pax.dates, class: %w(date)) %>
<% html.push content_tag(:p, pax.location, class: %w(location)) %>

<div class="tile pax-tile <%= pax.theme %>">
  <%= link_to safe_join(html), polymorphic_url(:pax_gallery, gallery: pax.parameterized_name), class: %w(btn btn-link btn-block tile) %>
</div>