<% provide(:title, "Time Zone Chart")%>
<% provide(:meta_description, "Create a chart of what time zones you’ve visited recently.")%>

<h1>Time Zone Chart</h1>

<p id="js-warning">JavaScript is required to use the Time Zone Chart.</p>

<div class="hidden-by-default">
  
<div id="chart" class="container"></div>

<form id="locations">
  <table class="table">
    <thead>
      <th></th>
      <th>Arrival (UTC)</th>
      <th>Location</th>
      <th>UTC Offset</th>
      <th>Departure (UTC)</th>
      <th></th>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</form>

</div>