<% provide(:title, "Time Zone Chart")%>
<% provide(:meta_description, "Create a chart of what time zones you’ve visited recently.")%>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">Time Zone Chart</div>
    </div>
    <div class="share-button">
      <%= link_to %Q(<span class="glyphicon glyphicon-link" aria-hidden="true"></span> Share).html_safe, "", id: "share-link", class: "btn btn-default" %>
    </div>
  </div>
</nav>

<p id="js-warning">JavaScript is required to use the Time Zone Chart.</p>

<div class="hidden-by-default">
  <form id="locations">
    <div id="component-title">
      <h1 title="Click to edit title">Title (click to edit)</h1>
      <div class="form-group input">
        <input type="text" class="form-control field-title" />
      </div>
    </div>
    <div class="chart" id="component-chart">
      <!-- Place the groups in order of lowest SVG layer to highest SVG layer -->
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="chart">
        <g id="chart-grid"></g>
        <g id="chart-travel-lines"></g>
        <g id="chart-location-blocks"></g>
        <g id="chart-axes"></g>
        <g id="chart-axis-text"></g>
        <g id="chart-location-hovers"></g>
      </svg>
    </div>
    
    <div id="component-data">
      <table class="table">
        <thead>
          <th></th>
          <th>Arrival (UTC)</th>
          <th>Location</th>
          <th>UTC Offset</th>
          <th>Departure (UTC)</th>
          <th></th>
        </thead>
        <tbody>
      
        </tbody>
      </table>
    </div>
  </form>

</div>