<% provide(:title, "Time Zone Chart")%>
<% provide(:meta_description, "Create a chart of what time zones you’ve visited recently.")%>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">Time Zone Chart</div>
    </div>
    <div class="share-button">
      <%= link_to %Q(<span class="glyphicon glyphicon-link" aria-hidden="true"></span> Share).html_safe, "", id: "share-link", class: "btn btn-default" %>
    </div>
  </div>
</nav>

<p id="js-warning">JavaScript is required to use the Time Zone Chart.</p>

<div class="hidden-by-default">

  <div class="chart">
    <svg xmlns="http://www.w3.org/2000/svg" id="chart">
      <g id="chart-grid"></g>
      <g id="chart-travel-lines"></g>
      <g id="chart-location-blocks"></g>
      <g id="chart-location-text"></g>
      <g id="chart-axes"></g>
      <g id="chart-axis-text"></g>
    </svg>
  </div>

  <form id="locations">
    <table class="table">
      <thead>
        <th></th>
        <th>Arrival (UTC)</th>
        <th>Location</th>
        <th>UTC Offset</th>
        <th>Departure (UTC)</th>
        <th></th>
      </thead>
      <tbody>
      
      </tbody>
    </table>
  </form>

</div>