<header>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<%= link_to image_tag("Portfolio-Logo.png", width: "263px", height: "24px", alt: "Paul Bogard’s Portfolio"), root_path, class: "navbar-brand" %>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">

					<li class="nav-item">
						<%= link_to "Projects", "https://paulbogard.net/projects/", class: "nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "About", "https://paulbogard.net/", class: "nav-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "Blog", "https://paulbogard.net/blog/", class: "nav-link" %>
					</li>
					

				</ul>
			</div>
		</div>
	</nav>
</header>